@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&display=swap');

body {
  background-image: url('./assets/images/body-image.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

html,
body {
  scroll-behavior: smooth !important;
}

.card-blur {
  backdrop-filter: blur(30px);
}

.box-shadow:hover {
  backdrop-filter: blur(16px);
  box-shadow: 0px 4px 20px 0px #00000026;
}

.button-arrow:hover svg path {
  fill: white;
}

.image-box-bg {
  backdrop-filter: blur(9px);
  box-shadow: 0px -1px 11px 0px #ffffff1a;
}
